{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MapLibre with Custom Tile Server</title>
    
    <!-- External Libraries -->
    <script src="https://unpkg.com/maplibre-gl/dist/maplibre-gl.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/maplibre-gl/dist/maplibre-gl.css">
    <script src="https://unpkg.com/@mapbox/mapbox-gl-draw/dist/mapbox-gl-draw.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/@mapbox/mapbox-gl-draw/dist/mapbox-gl-draw.css">
    
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'map/css/map.css' %}">
</head>
<body>
    <div id="county-selector">
        <select id="county-dropdown">
            <option value="">Select County</option>
        </select>
        <select id="situation-dropdown">
            <option value="">All Situation Types</option>
        </select>
        <select id="severity-dropdown">
            <option value="">All Severities</option>
        </select>
    </div>

    <div id="sidebar">
        <h3>Transit Information</h3>
        <ul id="transit-list"></ul>
    </div>

    <div id="map"></div>
    
    <!-- Custom JavaScript -->
    <script src="{% static 'map/js/map-config.js' %}"></script>
    <script src="{% static 'map/js/map-layers.js' %}"></script>
    <script src="{% static 'map/js/map-filters.js' %}"></script>
    <script src="{% static 'map/js/map-interactions.js' %}"></script>
</body>
</html>